.hero {
    background: url('../../assets/hero.jpg') no-repeat center center / cover;
    width: 100%;
    height: 100vh; // на весь экран

    &__title {
        font-family: var(--third-family);
        font-weight: 700;
        color: #fff;
    }

    &__description {
        font-family: var(--font-family);
        font-weight: 400;
        letter-spacing: 0.01em;
        color: #fff;
    }

    &__btn {
        font-family: var(--font-family);
        font-weight: 600;
        text-align: center;
        color: #fff;
        cursor: pointer;
    }
}


@media screen and (max-width: 430px) {
    .hero {
        width: 100%;
        height: 539px;
        
    }
}
