.search {
    &__title {
        font-family: var(--third-family);
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        color: #081b2f;
        margin-top: 80px;
        margin-bottom: 24px;
    }
}
.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}