@use "sass:color";

.office-card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
    margin: 20px auto;
    padding: 30px;
    font-family: var(--font-family);

    .office-content {
        display: flex;
        // align-items: center;
        justify-content: center;
        gap: 92px;
        .office-info {
            h1 {
                font-family: var(--third-family);
                font-weight: 600;
                font-size: 24px;
                color: #081b2f;
            }

            p {
                font-family: var(--font4);
                font-weight: 500;
                font-size: 12px;
                line-height: 125%;
                color: #28292b;
                margin-top: 10px;
            }
        }

        .consultation-section {
            // margin-top: 32px;

            h2 {
                font-family: var(--third-family);
                font-weight: 600;
                font-size: 24px;
                color: #081b2f;
            }

            .consultation-description {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 12px;
                color: #28292b;
            }

            .consultation-form {
                margin-top: 24px;

                .input-field {
                    margin-bottom: 15px;

                    input {
                        width: 100%;
                        padding: 16px 20px;
                        border-radius: 15px;
                        border: none;
                        background: #f1f3f7;
                        font-size: 14px;
                        color: #333;

                        &::placeholder {
                            color: #999;
                        }
                    }
                }

                .consultation-btn {
                    width: 100%;
                    padding: 16px;
                    background: #f78c1f;
                    color: #fff;
                    border: none;
                    border-radius: 16px;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    margin-top: 10px;
                    transition: background 0.3s;

                    &:hover {
                        background: color.adjust(#f78c1f, $lightness: -10%);
                    }
                }
            }

            .agreement-text {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: #28292b;
                margin-top: 4px;
            }
        }
    }
}
.office-logo{
    max-width: 265px;
    margin: 0 auto;
  
}
.right{
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 768px) {
    .office-card {
        padding: 20px;
        .office-content {
            flex-direction: column;
            gap: 20px;
        }
    }
    .right{
        position: relative;

    }
    .office-logo{
        position: absolute;
        top: 0;
        left: 85%;
        transform: translateX(-50%);
        width: 100px;
    }
    .office-info{
        margin-right: 117px;
    }
}